{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<link rel="stylesheet" href="{% static '/index.css' %}">

<html>
    <head>
      {% block head_favicon %}
        <link rel="icon" type="image/png" href="{% static '/favicon.ico' %}">
      {% endblock head_favicon %}
      <div class="navbar">
        <a href="/">
          <img src="{% static '/story_icon.jpg' %}" />
        </a>
        <ul class="navbar-nav">
          <li class="navbar-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </head>
    <body>
      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <div class="message-alert">
              <p>{{message}}</p>
            </div>
          {% endif %}
        {% endfor%}
      {% endif %}
      <div class="content">
        {% block content %}
        {% endblock content %}
      </div>
    </body>
</html>
