{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1 class="main-text">Hi! We are Story, we want you to write us stories about the adventures you will have in the land where the magics happen!
    Do you like those marshmallow clouds and a castle that delivers chocolate cake to you whenever you want? Do you fancy those perfect clothings that would look so good on you? Tell us what you will do here in this magic world!
    </h1>

    <form method="POST">
        {% csrf_token %}
        <input class="simple-btn" type="submit" value="Send me to my dreamworld!">
    </form>

{% endblock %}
