{% extends "base.html" %}
{% load static %}
{% block content %}
    <form method="POST">
        {% csrf_token %}

    <div class="story-theme">
        <img src="{% static '/django.png'%}" class="theme">
        <div class="image-text">
            <p class="overlay-text">Hello world!</p>
        </div>
    </div>

    <div class="story-theme">
        <img src="{% static '/django.png'%}" class="theme">
        <div class="image-text">
            <p class="overlay-text">Hello world!</p>
        </div>
    </div>

  <!-- cards -->
  <h1 class="theme-text">Welcome to Space!</h1>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Space
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
        Lunch
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
        Dinner
      </div>
    </div>
  <!-- until here -->

    </form>

    <div class="story-theme">
        <img src="{% static '/django.png'%}" class="theme">
        <div class="image-text">
            <p class="overlay-text">Hello world!</p>
        </div>
    </div>
    {% if prediction %}
        <div>
            <p style="font-size: 32; color: #2f2f2f">{{ prediction }}</p>
        </div>
    {% endif %}
{% endblock %}
