{% extends "base.html" %}
{% load static %}
{% block content %}
    
        <h1>Tell us your story...</h1>
        <form method="POST">
            {% csrf_token %}
            <textarea name="sentence"></textarea>
            

            <input type="submit" class="simple-btn" value="Send me to my dreamworld!">
        </form>
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    
{% endblock %}