{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Where do you want to go for the wild adventure ?</h1>

<form method="POST">
    {% csrf_token %}
    <div class="theme-grid">
        {% for theme in themes %}
            <a class="story-theme" href="/{{theme.title}}/storytelling">
                <img src="{{ theme.image.url }}" class="theme">
                <div class="image-text">
                    <p class="overlay-text">{{ theme.title}}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</form>
{% endblock %}