
navbar {


}

banner {


}

button {



}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  height: 640px;
  width: 85%;
}
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


main-text {

  position: absolute;
  width: 988px;
  height: 409px;

  font-family: Sometype Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  text-align: center;

  mix-blend-mode: normal;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

theme-text {

  position: absolute;
  width: 1198px;
  height: 224px;
  left: 140px;
  top: 210px;

  font-family: Sometype Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 32px;
  /* or 44% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;

  border: 2px solid #989292;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


