body{
  margin: 0;
  font-family: monospace, Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;
  background-color: #dcf3de;
}

.content {
  text-align: center;
  max-width: 50%;
  margin: auto;
}

textarea {
    width: 100%;
    min-height: 20rem;
    font-size: 2rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 1rem 2rem;
    margin: 8px 0;
    box-sizing: border-box;
    resize: none;
    transition: 0.4s ease;
  }
  
textarea:focus{    
  box-shadow: 0 0 10px #999;
}

.theme-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.story-theme {
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
img.theme {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.image-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    font-size: 3rem;
    transition: 0.4s ease;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.story-theme:hover .image-text{
    opacity: 1;
}

.simple-btn {
  cursor: pointer;
  font-family: inherit;
  background: #efc3c391;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
}

.simple-btn:hover {
  background: #efc3c3;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

p.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color:rgba(0, 0, 0, 1);
}

.message-alert {
  margin: 20px;
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
  padding: 3rem 4rem;
  font-size: 21px;
  font-weight: 600;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar {
  height: 5rem;
  position: relative;
  background: #e6b3b2c9;
}

.navbar img {
  height: 5rem;
}
.navbar-nav{
  overflow: hidden;
  list-style-type: none;
  float: right;
  padding-right: 16px;
}


.navbar-item{
  font-size: 1.5rem;
  font-weight: 700;
  height: 50%;
  padding: .5rem 1rem;
}
.navbar-item:hover{
  background: #dfa3a2c9;
}
.nav-link {
  padding: .5rem 1rem;
  color: #f2f2f2;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  height: 640px;
  width: 85%;
}

/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.main-text {

  position: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  text-align: center;

  mix-blend-mode: normal;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

theme-text {

  position: absolute;
  width: 1198px;
  height: 224px;
  left: 140px;
  top: 210px;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 32px;
  /* or 44% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;

  border: 2px solid #989292;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


